.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.card-container {
  background-color: #ffffff;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
  padding-bottom: 26px;
  margin: 4px 15px 10px 15px;
  border-radius: 20px;
  list-style-type: none;
}

.heading {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #171f46;
  margin: 5px;
}

.paragraph {
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #64748b;
  margin: 5px;
}

.image {
  display: flex;
  height: 85px;
  width: 85px;
  margin: 4px;
  align-self: flex-end;
}
